*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    overflow:hidden;
}
header{
    height:100vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#ffffff71;
    backdrop-filter:blur(2px);
    position:absolute;
    z-index:10000px;
    opacity:1;
    transition:0.5s;
}
header h1{
    width:90%;
    font-size:2.9em;
    text-align:center;
    font-family:'Arial', sans-serif;
    opacity:0;
    transition:0.5s;
}
h1 em{
    color:rgb(198, 50, 50);
}
main{
    min-width:600px;
    height:100vh;
    width:100vw;
}
main img{
    height:100%;
    width:100%;
}
nav{
    /* width:160px;
    height:160px; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:0.3em;
    border:2px solid #fff;
    padding:1em;
    border-radius:5px;
    position:fixed;
    top:1em;
    left:1em;
    background-color:#fbeeee42;
    backdrop-filter:blur(3px);
}
.hide-show{
    width:25px;
    margin-right:auto;
}
.hide-show:hover{
    border:1px solid #ff0000a9;
    color:#ff0000a9;
}
nav button{
    width:100px;
    padding:0.3em;
    background-color:transparent;
    border:1px solid #ffffff;
    color:#fff;
}
nav:hover{
    border-color:#000;
}
button:hover{
    cursor:pointer;
    color:#000;
    border-color:#000;
}
#dialog{
    height:230px;
    width:350px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    position:absolute;
    top:50%;
    left:25%;
    transform:translateX(-25%);
    transform:translateY(-50%);
    border:1px solid #fff;
    padding:1em;
    background-color:#ffffff4d;
    backdrop-filter:blur(3px);
}
#dialog p{
    font-size:1.4em;
    color:#000;
    border-radius:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#dialog button{
    width:100px;
    position:absolute;
    bottom:20px;
    right:20px;
    padding:0.3em;
    border:1px solid #000;
    color:#fff;
    background-color:#ff0000a9;
}